{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "babelOptions": {
       "presets": ["@babel/preset-react"]
    },
  },
  "extends": ["standard", "standard-jsx", "standard-react"],
  "settings": {
    "import/resolver": "webpack"
  },
  "env": {
      "browser": true,
      "jest": true,
      "es2021": true
  },
  "rules": {
    "max-len": ["error", {
        "code": 100
    }]
  }
}
